</br>
</br>

<h1 style="text-align: center; margin-bottom: 20px;">Editar Lista</h1>

<%= render "form", todo: @todo, button_text: "Salvar" %>

<br>

<div class="d-flex justify-content-center mt-5" style="gap: 20px;">
  <%= link_to "Mostrar Lista", @todo, class: "btn btn-outline-primary" %>
  <%= link_to "Voltar", todos_path, class: "btn btn-outline-dark" %>
</div>
