<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-center mb-5">
  <h1>To do Lists</h1>
</div>


<div class="mb-4" id="todos">
  <%= render partial: 'todo_card', collection: @todos, as: :todo %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "New todo", new_todo_path, class: "btn btn-success" %>
</div>
